In [1]:

import pandas as pd
import pymysql
import sqlalchemy as alch
from getpass import getpass

In [2]:
import os
from dotenv import load_dotenv
load_dotenv()
password=os.getenv("sql")

In [3]:

dbname = "final_project"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbname}"
engine = alch.create_engine(connectionData)

## BCN upload

In [10]:
#Reading compact version 
bcn_compact_merge = pd.read_csv("/Users/hugosaccount/Desktop/IronHack/final_project/data/cities/barcelona/bcn_compact_merge.csv")

In [12]:

dbname = "final_project"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbname}"
engine = alch.create_engine(connectionData)
bcn_compact_merge.to_sql("bcn_compact_data", con = engine, if_exists="replace")

388

## VAL upload

In [13]:
#Reading compact version 
val_compact_merge = pd.read_csv("/Users/hugosaccount/Desktop/IronHack/final_project/data/cities/valencia/val_compact_merge.csv")

In [14]:
val_compact_merge.to_sql("val_compact_data", con = engine, if_exists="replace")

388

## MAD upload

In [15]:
#Reading compact version 
mad_compact_merge = pd.read_csv("/Users/hugosaccount/Desktop/IronHack/final_project/data/cities/madrid/mad_compact_merge.csv")

In [16]:
mad_compact_merge.to_sql("mad_compact_data", con = engine, if_exists="replace")

388

## COP upload

In [11]:
cop_compact_merge = pd.read_csv("/Users/hugosaccount/Desktop/IronHack/final_project/data/cities/copenhagen/cop_compact_merge.csv")

In [12]:
cop_compact_merge.to_sql("cop_compact_data", con = engine, if_exists="replace")

388

## AMS upload

In [13]:
ams_compact_merge = pd.read_csv("/Users/hugosaccount/Desktop/IronHack/final_project/data/cities/amsterdam/ams_combined/ams_compact_merge.csv")

In [14]:
ams_compact_merge.to_sql("ams_compact_data", con = engine, if_exists="replace")

388

In [21]:
es_combined = pd.read_sql_query (
"""
SELECT * FROM val_compact_data,
LIMIT 10;
"""
, engine)

In [22]:
es_combined

   index      city  Year  Month AirPollutant UnitOfMeasurement  Concentration
0      0  valencia  2013      1        PM2.5             µg/m3       8.166845
1      1  valencia  2013      2        PM2.5             µg/m3       8.396848
2      2  valencia  2013      3        PM2.5             µg/m3       8.719276
3      3  valencia  2013      4        PM2.5             µg/m3      11.289735
4      4  valencia  2013      5        PM2.5             µg/m3       8.950336
5      5  valencia  2013      6        PM2.5             µg/m3      11.441942
6      6  valencia  2013      7        PM2.5             µg/m3      15.892647
7      7  valencia  2013      8        PM2.5             µg/m3      10.554401
8      8  valencia  2013      9        PM2.5             µg/m3       8.894775
9      9  valencia  2013     10        PM2.5             µg/m3       8.412053

# BCN Granular data

## Barri Av (socio-economic)

In [15]:
barri_av_sorted = pd.read_csv("//Users/hugosaccount/Desktop/IronHack/final_project/data/bcn/bcn_av_gross_taxable_income/barri_av_sorted.csv")

In [16]:
barri_av_sorted.to_sql("barri_av_income", con = engine, if_exists="replace")

73

## District Av (socio-economic)

In [17]:
district_av_sorted = pd.read_csv("//Users/hugosaccount/Desktop/IronHack/final_project/data/bcn/bcn_av_gross_taxable_income/district_av_sorted.csv")

In [18]:
district_av_sorted.to_sql("district_av_income", con = engine, if_exists="replace")

10

## School Location Data

In [4]:
schools_clean = pd.read_csv("///Users/hugosaccount/Desktop/IronHack/final_project/data/bcn/schools_clean.csv")

In [5]:
schools_clean.to_sql("bcn_schools", con = engine, if_exists="replace")

403