# Vehicles and Policy

In [1]:
import os
import requests
from bs4 import BeautifulSoup as bs4
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import glob

import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import seaborn as sns
import plotly.figure_factory as ff

import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd

from plotly.subplots import make_subplots

## Register of vehicles by tax horsepower

In [2]:
# read file & save to variable 
bcn_vehicles = pd.read_csv("//Users/hugosaccount/Desktop/IronHack/final_project/data/bcn/bcn_vehicles/2021_potencia_fiscal_turismes (1).csv")

In [3]:
bcn_vehicles

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Seccio_Censal,Potencia_Fiscal,Nombre_Turismes
0,2021,1,Ciutat Vella,1,el Raval,1,Menys 8 cf,23
1,2021,1,Ciutat Vella,1,el Raval,1,"8 a 8,9",6
2,2021,1,Ciutat Vella,1,el Raval,1,"9 a 9,9",17
3,2021,1,Ciutat Vella,1,el Raval,1,"10 a 10,9",31
4,2021,1,Ciutat Vella,1,el Raval,1,"11 a 11,9",86
...,...,...,...,...,...,...,...,...
11711,2021,NC,No consta,NC,No consta,NC,"13 a 13,9",30
11712,2021,NC,No consta,NC,No consta,NC,"14 a 14,9",4
11713,2021,NC,No consta,NC,No consta,NC,"15 a 15,9",3
11714,2021,NC,No consta,NC,No consta,NC,"16 a 19,9",16
11715,2021,NC,No consta,NC,No consta,NC,20 i més cf,5

In [7]:
Total = bcn_vehicles['Nombre_Turismes'].sum()
print(Total)

471145

In [12]:
congestion_charge_day = Total * 1.5
congestion_charge_dayLetmeinhere

706717.5

In [14]:
month = 30 
congestion_charge_day * month

21201525.0

In [13]:
year = 365 
congestion_charge_day * year

257951887.5

In [16]:
citytree = 22000

In [17]:
congestion_charge_day / citytree

32.12352272727273